.display-6 {
	padding-bottom: 1rem;
}

.en_cours_tssr {
	background: orange;
	text-align: center;
	padding: .5rem;
}

h6 .en_cours_tssr {
	color : white !important;
}

/* désactive le changement de couleur au hover */
.btn-outline-primary:hover {
	background-color: transparent !important;
	color: #0d6efd !important;
	border-color: #0d6efd !important;
}

/* empêche le changement de curseur */
.no-cursor:hover {
	cursor: default !important;
}

.accordion-item {
	border-radius: 35px !important;
	overflow: hidden; /* empêche le contenu de déborder */
	border: 1px solid #cfe2ff !important; /* ajoute explicitement les bordures */
}
