.display-6 {
	padding-bottom: 1rem;
}

.en_cours_tssr {
	background: orange;
	text-align: center;
	padding: .5rem;
}

h6 .en_cours_tssr {
	color : white !important;
}

/* désactive le changement de couleur au hover */
.btn-outline-primary:hover {
	background-color: transparent !important;
	color: #0d6efd !important;
	border-color: #0d6efd !important;
}

/* empêche le changement de curseur */
.no-cursor:hover {
	cursor: default !important;
}

.accordion-item {
	border-radius: 35px !important;
	overflow: hidden; /* empêche le contenu de déborder */
	border: 1px solid #CFE2FF !important; /* ajoute explicitement les bordures CFE2FF*/
}

.accordion {
	padding-left: 1rem !important;
  	padding-right: 1rem !important;
}

.text-link {
	color: #0D6EFD !important;
}

/* scroll-up */
.scroll-up {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	background-color: #212529;
	color: white;
	border: none;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	opacity: 0; /* caché par défaut */
	transition: opacity 1s ease, transform 0.5s ease;
	z-index: 1000;
}
  
.scroll-up.show {
	opacity: 1; /* apparaît quand l'utilisateur scrolle */
}
  
.scroll-up:hover {
	transform: scale(1.2); /* effet au survol */
	background-color: #212529;
}

.accordion-button.collapsed {
	background-color: #F5F5FF; /* F5F5FF */
}

.btn-dark {
	border-radius: 0 !important;
}

.sticky-top {
    position: sticky; /* garde le comportement sticky */
    top: 0; /* colle l'élément en haut de l'écran */
    z-index: 1020; /* s'assure qu'il reste au-dessus */
}
